@font-face {
    font-family: Minecraftia;
    src: url('./fonts/Minecraftia.ttf');
}


.backgroundimg {
    width: 100%;
    height: 100%;
  
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.enclosure {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;

    height: 100%;
    width: 100%;

    opacity: 70%;

    background-color: black;
}

.Backmenu {
    top: 0%;

    width: 100%;
    height: 55px;

    background-color: #b8b8b8;

    box-shadow: 0px 7px #727272;
}

.Backmenutxt {
    font-family: 'Minecraftia';
    font-size: 20pt;

    position: ab;
    top: 50%;
}